{% extends "base_template.html.j2" %}
{% block content %}


<div class="row justify-content-center">
  <div class="col-sm-5">
    <article class="media content-section">
    <h3>create a new user</h1>
        <form method="post" action="/register">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
            <div class="form-floating mb-3">
                {{ form.username(size=20, id='username', class='form-control', placeholder='Username') }}
                {{ form.username.label(for='username') }}
                {% if form.username.errors %}
                    <ul>
                        {% for error in form.username.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="form-floating mb-3">
                {{ form.password(size=20, id='password', class='form-control', placeholder='Password') }}
                {{ form.password.label(for='password') }}
                {% if form.password.errors %}
                    <ul>
                        {% for error in form.password.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="form-floating mb-3">
                {{ form.confirm(size=20, id='confirm', class='form-control', placeholder='Confirm Password') }}
                {{ form.confirm.label(for='confirm') }}
                {% if form.confirm.errors %}
                    <ul>
                        {% for error in form.confirm.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div>
                {{ form.submit( class="btn btn-primary") }}
            </div>
        </form>
    </article>
  </div>
</div>

{% endblock %}
