{% extends "base_template.html.j2" %}
{% block content %}


<div class="row justify-content-center">
  <div class="col-sm-5">
    <article class="media content-section">
        <h3>User Details</h3>
        {% if user_detail %}
            <p>ID: {{ user_detail.id }}</p>
            <p>Username: {{ user_detail.username }}</p>
            <p>Roles:</p>
            <ul>
                {% for role in user_detail.roles %}
                    <li>{{ role.role_name }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>User not found.</p>
        {% endif %}
    </article>
  </div>
</div>

{% endblock %}